@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Chewy', cursive;
}

.button{
    padding: 20px;
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 5px 5px 5px;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    font-weight: bold;
}
.button:hover{
    color:rgb(161, 161, 161);
}
.row{
    box-shadow: 74px 74px 74px;
    margin: 2px 0;
}

.row input{
    margin: 0px 0px;
    border: 2px solid black;
    padding: 10px 0px;
    border-radius: 8px;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    font-size: 17px;
}

.clear-color{
    background-color: rgb(247 174 39);
}
.clear-color:hover{
    background-color: rgba(247, 174, 39, 0.7);
    color:white;   
}
.equalto{
    background-color:rgb(131 126 115);
}
.equalto:hover{
    background-color:rgb(201, 197, 190);
    color:white;   
}
